/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min.css
 *= require bootstrap-theme.min.css
 *= require_tree .
 */

body {
	position: relative;
  background: white;
}
canvas {
  position: absolute;
  top: 120px;
  left: 0;
}
.blur {
  -webkit-filter: blur(6px);
  filter: blur(6px);
}
li {
	list-style: none;
	font-size: 18px;
	width: 160px;
}
li:hover {
	color: red;
	cursor: pointer;
}