html {
	background: rgb(40,40,40);
}
body {
  overflow: hidden;
}
h1 {
  padding-top:10px;
  text-align: center;
  color: hsla(15,95%,50%,1);
  font-weight: bold;

}
h3 {
  /*margin-top: 50px;*/
  margin-left: 36px;
  color: black;
  font-weight: bold;
}
h4 {
  margin-left: 56px;
  color: black;
}

#globus {
	position: relative;
}
canvas {
  position: absolute;
  top: -60%;
  left: -13%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: -999;
}
.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.header-container {
  height: 80px;
}
#country-list {
	height: 80%;
 	min-height:700px;
 	overflow:hidden;
 	overflow-y: scroll;
  font-weight: normal;
}
#trend-list {
  line-height: 80px;
  /*padding-top: 40px;*/
}
.trend-container {
  /*margin: -40px;*/
}
#trend-list li {
  font-size: 18px;
  margin: -8px;
  font-weight: bold;
  color: hsla(15,95%,50%,1);
  margin-left: 20px;
}

#chart {
  opacity: 0;
}
li {
	list-style: none;
	font-size: 18px;
	width: 160px;
	/*color: rgb(200,200,200);*/
  color: black;
  font-weight: bold;
}
li:hover {
	color: hsla(15,95%,50%,1);
	cursor: pointer;
}
rect.bordered {
  stroke: rgb(200,200,200);
  stroke-width:2px;
}

rect.bordered:hover {
  stroke: #E6E6E6;
  
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #000;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}