<!DOCTYPE html>
<html>
<head>
  <title>Twendy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/queue.v1.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/topojson.v1.min.js" charset="utf-8"></script>
</head>
<body>
	<div id="page">
		<div class="top-header-container container col-lg-12">
			<header class="container col-lg-8 col-md-offset-2">
			</header>
		</div>

		<div class="container col-md-8 col-md-offset-2">
		
			<div class="row">
			  <div class="col-lg-6">
			    <div class="input-group">
			      <input id="search-country" type="text" class="form-control" name="country" placeholder="Search a country...">
			      <span class="input-group-btn">
			        <button id="submit-search-country" class="btn btn-default" type="button">Go!</button>
			      </span>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->

			<%= yield %>
			
		</div>
  </div>

</body>
</html>
