<!DOCTYPE html>
<html>
<head>
  <title>Twendy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/queue.v1.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/topojson.v1.min.js" charset="utf-8"></script>
</head>
<body>
	<div id="page">
		
		<div class="main-container container col-lg-12">
      <div class="header-container row">
        <header>
          <h1>TrendTrail</h1>
        </header>
      </div>
      
      <div class="row">
        <div class="country-container col-md-2 col-md-offset-0">
          <ul id="country-list"></ul>
        </div>

        <div id="chart" class="col-md-7 col-md-offset-0"></div>

        <div class="trend-container col-md-2 col-md-offset-0">
          <ul id="trend-list">
            <li>Voted4Hedley</li>
            <li>snowday</li>
            <li>wcw</li>
            <li>timandsid</li>
            <li>Sochi</li>
            <li>Zimmerman</li>
            <li>Canada</li>
            <li>Olympics</li>
            <li>Valentine'sDay</li>
          </ul>
        </div>
      </div>

      <div class="footer-container row">
        <h4>Trend Trail charts the lifespan of the most discussed topics on Twitter right now.</h4>
      </div>
      
				<%= yield %>
		</div><!-- main-container -->

  </div><!-- page -->
</body>
</html>
